body {
background-color:#f1f1f1;
font-family: georgia,sans-serif;
color:#333;
margin:0;
padding-top: 5%;
}

#wrapper {
width:960px;
background-color:#f8f8f8;
margin:0 auto;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}

#header {

}

#header h2 {
padding:10px;
}






#content {
float:left;
padding: 10px;
}

#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
background:#fff;
}

#nav > ul.menu{

margin:0;
padding:0;
line-height:100%;
font-size:0; /* Kill white space gap between LI elements */

top: 0;
left: 0;
width: 100%;
z-index:1000;
}
#Logo{
    float: left;
}

