body {
background-color:#f1f1f1;
font-family: georgia,sans-serif;
color:#333;
margin:0;
padding:0;
}

#wrapper {
width:960px;
background-color:#f8f8f8;
margin:0 auto;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}

#header {

}

#header h2 {
padding:10px;
}

/* #nav {
height:40px;
border-bottom:1px solid #ccc;
}

#nav a {
display:inline;
padding:10px;
text-decoration:none;
background-color:#f1f1f1;
}

#nav a:hover {
background-color:#bababa;
height:80px;
} */

#content {
float:left;
padding: 10px;
}

#footer {
background: #234465;
padding: 0 0 26px 0;
position: relative;
overflow: hidden;
margin: -10px 0 0 0;
}

#footer p {
padding:10px;
}

#nav > ul.menu{
margin:0;
padding:0;
line-height:100%;
font-size:0; /* Kill white space gap between LI elements */
position:fixed;
top: 0;
left: 0;
width: 100%;
z-index:1000;
}
